<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="str" connectionString="Data Source = .; Initial Catalog=HR;Integrated Security=True" />
    <add name="HR.Properties.Settings.HRConnectionString" connectionString="Data Source=SMILE;Initial Catalog=HR;Persist Security Info=True;User ID=sql;Password=sql"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>